<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <meta charset="utf-8">
        <title>Sign-Up</title>
    </head>
    <body>
        <center>
            <h1>Add Item</h1>
            <p>This item will be added to your inventory.</p>
            <a href="/dashboard">Go back to dashboard</a><br/><br/>
            <form method="post">
                <input name="itemName" id="itemName" type="text" required placeholder="Item Name" autofocus autocomplete="off"/><br/><br/>
                <input name="itemType" id="itemType" type="text" required placeholder="Item Type" autofocus autocomplete="off"/><br/><br/>
                <button type="button" onclick="myFunction()">Submit</button>
            </form>
            <script>
            var item;
            var _creator=localStorage.getItem("userId");
            var authHeader=localStorage.getItem("header");
            console.log(_creator);
            console.log(authHeader);

            function myFunction() {
            var itemName = document.getElementById("itemName").value;
            var itemType= document.getElementById("itemType").value;
        
              item = {
                    itemName,
                    itemType,
                    _creator,
                }
                

            $.ajax({
                type: 'POST',
                data: JSON.stringify(item),
                contentType: 'application/json',
                url: '/items',
                beforeSend: function(xhr){xhr.setRequestHeader('x-auth', authHeader);},
                statusCode: {
                    401: function(data){
                        console.log(data);
                        alert("Unauthorized.");
                    },
                    400: function(data) {
                        console.log(data);
                        alert("Invalid item name or type.");
                    },
                    200: function(res){
                        alert("Item successfully added to your inventory.");
                        location.href = "/dashboard";
                    }
                },
    });
}
            </script>
        </center>
    </body>
</html>