<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <title>Sign-Up</title>
    </head>
    <body>
        <center>
            <h1 id="welcome"></h1>
            <h3>Your Inventory</h3>
            <input type="submit" value="Add item" onclick="addItem()"/>
            <input type="submit" value="Remove item"/>
            <input type="submit" value="Edit item"/>
            <input type="submit" value="Place order"/>
            <input type="submit" value="Track order"/>
            <input type="submit" value="Logout"/>
        </center>
        <script>
            var userEmail=localStorage.getItem("userEmail");
            var userId=localStorage.getItem("userId");
            var greet = jQuery('<h1></h1>');
            greet.text(`Welcome ${userEmail}`);
            jQuery('#welcome').append(greet);
            console.log(userEmail);
            console.log(userId);
        </script>
    </body>
</html>