<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body onload="redirectUser()">
        <center>
            <h1>Welcome to the Inventory Manager</h1>
            <p>Login here</p>
            <form method="post">
                <input name="email" id="email" type="text" required placeholder="E-Mail" autofocus autocomplete="off"/><br/><br/>
                <input name="password" id="password" type="text" required placeholder="password" autofocus autocomplete="off"/><br/><br/>
                <button type="button" onclick="myFunction()">Submit</button>
            </form>
            <h3>Don't have an account?</h3>
            <a href="/">Sign-up here</a>
            <script>
            var user;

            function myFunction() {
                var email = document.getElementById("email").value;
                var password = document.getElementById("password").value;

                user = {
                    email,
                    password,
                }

                $.ajax({
                type: 'POST',
                data: JSON.stringify(user),
                contentType: 'application/json',
                url: '/users/login',
                statusCode: {
                    400: function() {
                        alert("Incorrect email/password!");
                    },
                    200: function(res){
                        console.log(res);
                        localStorage.setItem("userEmail", res.email);
                        localStorage.setItem("userId", res._id);
                        location.href = "/dashboard";
                    }
                },
                success: function(data, textStatus, request){
                    var header = request.getResponseHeader('x-auth');
                    localStorage.setItem("header", header);
                    console.log(header);
                },
                });
            }
        
            function redirectUser(){
                var checkEmail=localStorage.getItem("userEmail");
                if(checkEmail === null){
                    console.log(checkEmail);
                }
                else{
                    location.href = "/dashboard";
                }
            }
            </script>
        </center>
    </body>
</html>